@import "globals";

html,
body,
div#react-container,
div.app {
  height: 100%;
  padding: 0;
  margin: 0;
}

h1, label {
  margin: 0
}

div.app {
 background-image:url('http://static.wixstatic.com/media/4ba564_8318b873f3234b1583892bc7b8cb348b~mv2.gif');
 background-size: cover;
 background-position: center;
}

div.whoops-404 {
  background-color: white;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
